.create-quiz-page {
  padding: 20px;
}

.page-title {
  text-align: center;
  color: #fff;
}

.quiz-form {
  max-width: 900px;
  margin: 0 auto;
  background: #212424;
  padding: 20px;
  border-radius: 10px;
}

.label {
  color: #fff;
  display: block;
  margin-top: 10px;
}

.text-input,
.textarea-input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  background: #3a3a3a;
  border: none;
  border-radius: 6px;
  color: #fff;
}
.textarea-input {
  min-height: 80px;
  max-height: 250px;
  resize: none;
  overflow: auto;
}


.questions-header {
  margin-top: 20px;
  color: #fff;
}

.button-row {
  text-align: center;
  margin-top: 20px;
}

.add-question-btn {
  background: #70ff98;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.save-quiz-btn {
  background: #ffcc70;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
