.option-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
}

.correct-checkbox {
  cursor: pointer;
}

.option-text-input {
  flex: 1;
  padding: 5px;
  background: var(--Base);
  border: none;
  border-radius: 5px;
  color: var(--Text);
}

.remove-option-btn {
  background: var(--Red);
  color: var(--Text);
  border: none;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
}
